---
import phoneIcon from "../../assets/ctas/phoneIcon.svg?raw";
import companyLogo from "../../assets/logo/companyLogo.svg?raw";
import hamburgerMenu from "../../assets/navbar/hambugerMenu.svg?raw";
import { firm } from "../../config/firm";
import { nav } from "../../config/nav";
import NavLink from "../nav/NavLink.astro";
import Brand from "./Brand.astro";
import MobileMenuButton from "./MobileMenuButton.astro";
import MobileMenuDialog from "./MobileMenuDialog.astro";
import Navbar from "./Navbar.astro";
import PhoneNumber from "./PhoneNumber.astro";

const { companyName, county, phone } = firm;
---

<header
  class="sticky top-0 inset-x-0 z-50
    border-b border-gray-300
    bg-gray-100 text-gray-700
    shadow-lg"
  data-header
>
  <Navbar>
    <div class="flex">
      <Brand companyLogo={companyLogo} companyName={companyName} />
    </div>

    <!-- Open Menu -->
    <MobileMenuButton
      icon={hamburgerMenu}
      border={true}
      srLabel={"Open Mobile Menu"}
      action={"open"}
      class={""}
    />

    <!-- Desktop Navigation -->
    <div class="hidden lg:block">
      <ul class="flex gap-x-12">
        {
          nav.map(({ navLabel, href }) => (
            <li>
              <NavLink
                href={href}
                class="inline-block text-sm font-semibold transition duration-200 hover:text-gray-500 hover:scale-105"
                activeClass="text-gray-900"
              >
                {navLabel}
              </NavLink>
            </li>
          ))
        }
      </ul>
    </div>

    <!-- Desktop Phone Number -->
    <div
      class="hidden
      lg:block
      lg:justify-self-center xl:justify-self-end"
    >
      <PhoneNumber
        phoneHref={phone.phoneHref}
        phoneIcon={phoneIcon}
        phoneDisplay={phone.display}
        size={"sm"}
        class={"transition-transform duration-200 hover:text-gray-500 hover:scale-105"}
      />
    </div>
  </Navbar>

  <MobileMenuDialog companyLogo={companyLogo} ariaLabel={companyName}>
    <div class="-my-6 divide-y divide-gray-500">
      <nav aria-label="Mobile menu" class="space-y-2 py-6">
        {
          nav.map(({ navLabel, href }) => (
            <NavLink
              href={href}
              class="block px-3 py-2 font-semibold rounded-lg transition-colors duration-200 hover:bg-gray-300 hover:text-gray-800"
              activeClass="bg-gray-300 text-gray-800"
              data-mobile-link
            >
              {navLabel}
            </NavLink>
          ))
        }
      </nav>

      <div
        class="block
          mt-3
          rounded-lg
          transition-colors duration-200
          hover:bg-gray-300 hover:text-gray-900"
      >
        <PhoneNumber
          phoneHref={phone.phoneHref}
          phoneIcon={phoneIcon}
          phoneDisplay={phone.display}
          size={"md"}
          class={"p-3"}
        />
      </div>
    </div>
  </MobileMenuDialog>
</header>

<!-- overflow-hidden - Add to the container for the light effects -->

<script>
  import "../../scripts/header-menu.ts";
</script>
