---
import companyLogo from "../assets/logo/companyLogo.svg?raw";
import hamburgerMenu from "../assets/navbar/hambugerMenu.svg?raw";
import phoneIcon from "../assets/phone/phoneIcon.svg?raw";


import { firm } from "../config/firm";
import { nav } from "../config/nav";
import Brand from "./header/Brand.astro";
import DesktopNav from "./header/DesktopNav.astro";
import Navbar from "./header/Navbar.astro";
import PhoneNumber from "./header/PhoneNumber.astro";
import MobileMenuButton from "./header/MobileMenuButton.astro";
import MobileMenuDialog from "./header/MobileMenuDialog.astro";
import MobileMenuNav from "./header/MobileMenuNav.astro";

const { companyName, county, phone } = firm;
---

<header
  class="sticky top-0 inset-x-0 z-50
    border-b border-gray-300
    bg-gray-100 text-gray-700
    shadow-lg"
  data-header
>
  <Navbar>
    <div class="flex">
      <Brand companyLogo={companyLogo} companyName={companyName} />
    </div>

    <!-- Open Menu -->
    <MobileMenuButton
      icon={hamburgerMenu}
      border={true}
      srLabel={"Open Mobile Menu"}
      action={"open"}
      class={""}
    />

    <!-- Desktop Navigation -->
    <div class="hidden lg:block">
      <DesktopNav links={nav} />
    </div>

    <!-- Desktop Phone Number -->
    <div
      class="hidden
      lg:block
      lg:justify-self-center xl:justify-self-end"
    >
      <PhoneNumber
        phoneHref={phone.phoneHref}
        phoneIcon={phoneIcon}
        phoneDisplay={phone.display}
        size={"sm"}
        class={"transition-transform duration-200 hover:text-gray-500 hover:scale-105"}
      />
    </div>
  </Navbar>

  <MobileMenuDialog companyLogo={companyLogo}>
    <div class="-my-6 divide-y divide-gray-500">
      <MobileMenuNav links={nav} />

      <div
        class="block
          mt-3
          rounded-lg
          transition-colors duration-200
          hover:bg-gray-300 hover:text-gray-900"
      >
        <PhoneNumber
          phoneHref={phone.phoneHref}
          phoneIcon={phoneIcon}
          phoneDisplay={phone.display}
          size={"md"}
          class={"p-3"}
        />
      </div>
    </div>
  </MobileMenuDialog>
</header>

<!-- overflow-hidden - Add to the container for the light effects -->

<script>
  import "../scripts/header-menu.ts";
</script>
