---
import companyLogo from "../assets/logo/companyLogo.svg?raw";
import hamburgerMenu from "../assets/navbar/hambugerMenu.svg?raw";
import phoneIcon from "../assets/navbar/phoneIcon.svg?raw";

import { firm } from "../config/firm";
import { nav } from "../config/nav";
import Brand from "./header/Brand.astro";
import DesktopNav from "./header/DesktopNav.astro";
import Navbar from "./header/Navbar.astro";
import PhoneNumber from "./header/PhoneNumber.astro";
import MobileMenuButton from "./header/MobileMenuButton.astro";
import MobileMenuDialog from "./header/MobileMenuDialog.astro";
import MobileMenuNav from "./header/MobileMenuNav.astro";

const { companyName, county, phoneDisplay, phoneHref } = firm;
---

<header
  class="sticky top-0 inset-x-0 z-50 bg-header text-textOnDark border-b border-headerBorder shadow-lg"
  data-header
>
  <Navbar>
    <div class="flex lg:flex-1">
      <Brand companyLogo={companyLogo} companyName={companyName} />
    </div>

    <!-- Open Menu -->
    <MobileMenuButton
      icon={hamburgerMenu}
      border={true}
      srLabel={"Open Mobile Menu"}
      action={"open"}
    />

    <!-- Desktop Navigation -->
    <div class="hidden lg:block">
      <DesktopNav links={nav} />
    </div>

    <!-- Desktop Phone Number -->
    <div class="justify-end hidden lg:flex">
      <PhoneNumber
        phoneHref={phoneHref}
        phoneIcon={phoneIcon}
        phoneDisplay={phoneDisplay}
        size={"sm"}
        class={"transition hover:text-accentHover duration-200 hover:scale-105"}
      />
    </div>
  </Navbar>

  <MobileMenuDialog companyLogo={companyLogo}>
    <div class="-my-6 divide-y divide-headerBorder">
      <MobileMenuNav links={nav} />

      <div
        class="p-3 mt-3 -mx-3 block rounded-lg transition-colors hover:bg-accentHover duration-200 lg:hidden"
      >
        <PhoneNumber
          phoneHref={phoneHref}
          phoneIcon={phoneIcon}
          phoneDisplay={phoneDisplay}
          size={"md"}
          class={""}
        />
      </div>
    </div>
  </MobileMenuDialog>
</header>

<!-- overflow-hidden - Add to the container for the light effects -->

<script>
  import "../scripts/header-menu.ts";
</script>
