---
import phoneIcon from "../../assets/ctas/phoneIcon.svg?raw";
import companyLogo from "../../assets/logo/companyLogo.svg?raw";
import { firm } from "../../config/firm";
import Brand from "../header/Brand.astro";
import PhoneNumber from "../header/PhoneNumber.astro";

const { companyName, phone, address, officeHours } = firm;
---

<footer class="bg-white">
  <div
    class="mx-auto max-w-7xl
     pt-16 sm:pt-24 lg:pt-32
     pb-8 px-6 lg:px-8"
  >
    <div class="lg:grid lg:grid-cols-[minmax(24rem,1fr)_1fr] lg:gap-12">
      <!-- Brand -->
      <div class="min-w-0 flex flex-col gap-8">
        <Brand
          companyLogo={companyLogo}
          companyName={companyName}
          class={"-ml-3 -mt-3"}
        />

        <!-- Address -->
        <address class="not-italic text-gray-600 text-sm/6">
          {address.line1}<br />
          {address.city}
          <br />
          {address.eircode}<br />
          {address.country}
        </address>

        <!-- Opening hours -->
        <p class="text-gray-600 text-sm">
          Opening hours: {officeHours.display}
        </p>

        <!-- Directions and Call -->
        <div
          class="flex flex-col gap-4
          sm:flex-row sm:items-center sm:gap-6"
        >
          <a
            href={address.googleMapDirectionsHref}
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex justify-center
              w-full sm:w-fit
              px-4 py-2
              text-sm text-white
              bg-gray-700
              border border-gray-700 rounded-md
              transition-colors duration-200
              hover:bg-gray-500
              focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-accent"
            >Get directions</a
          >
          <PhoneNumber
            phoneHref={phone.phoneHref}
            phoneIcon={phoneIcon}
            phoneDisplay={phone.display}
            size={"sm"}
            class=`
              inline-flex justify-center w-full sm:w-fit 
              px-4 py-2 
              text-gray-700
              rounded-md border border-gray-500
              transition-colors duration-200
              hover:text-gray-800 hover:bg-gray-200`
          />
        </div>
      </div>

      <!-- Links -->
      <div class="min-w-0 mt-16 grid grid-cols-2 gap-4 lg:mt-0">
        <div>
          <h3 class="text-sm/6 font-semibold text-gray-900">Navigation</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li>
              <a href="/" class="text-sm/6 text-gray-600 hover:text-gray-900"
                >Home</a
              >
            </li>
            <li>
              <a
                href="/services"
                class="text-sm/6 text-gray-600 hover:text-gray-900">Services</a
              >
            </li>
            <li>
              <a
                href="/about"
                class="text-sm/6 text-gray-600 hover:text-gray-900">About</a
              >
            </li>
            <li>
              <a
                href="/contact"
                class="text-sm/6 text-gray-600 hover:text-gray-900">Contact</a
              >
            </li>
            <li>
              <a
                href="/test"
                class="text-sm/6 text-gray-600 hover:text-gray-900">Test</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h3 class="text-sm/6 font-semibold text-gray-900">Legal</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li>
              <a
                href="/privacy"
                class="text-sm/6 text-gray-600 hover:text-gray-900"
                >Privacy policy</a
              >
            </li>
            <li>
              <a
                href="/cookie-policy"
                class="text-sm/6 text-gray-600 hover:text-gray-900"
                >Cookie Policy</a
              >
            </li>
            <li>
              <a
                href="/disclaimer"
                class="text-sm/6 text-gray-600 hover:text-gray-900"
                >Disclaimer</a
              >
            </li>
            <li>
              <a
                href="/terms"
                class="text-sm/6 text-gray-600 hover:text-gray-900"
                >Terms of use</a
              >
            </li>
            <li>
              <a
                href="/accessibility"
                class="text-sm/6 text-gray-600 hover:text-gray-900"
                >Accessibility</a
              >
            </li>
            <li>
              <a
                href="/complaints"
                class="text-sm/6 text-gray-600 hover:text-gray-900"
                >Complaints Procedure</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col gap-6 md:flex-row md:justify-between mt-16 border-t border-gray-900/10 pt-8 sm:mt-20 lg:mt-24"
    >
      <a
        href="https://www.lawsociety.ie/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-sm/6 text-gray-800
            underline underline-offset-4
            transition-colors duration-200
            hover:text-gray-400 focus-visible:text-gray-400"
        >Regulated by the Law Society of Ireland</a
      >

      <p class="text-sm/6 text-gray-600">
        &copy; {new Date().getFullYear()}
        {companyName}. All rights reserved.
      </p>
    </div>
  </div>
</footer>
