---
import type { propertyPageContent } from "../../config/content/property";
import tickIcon from "../../assets/icons/tickIcon.svg?raw";

type Content = typeof propertyPageContent;

const { servicesSection, services } = Astro.props as {
  servicesSection: Content["servicesSection"];
  services: Content["services"];
};
---

<section class="bg-gray-50 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="max-w-2xl mx-auto lg:mx-0">
      <h2 class="text-base/7 font-semibold text-gray-600">
        {servicesSection.eyebrow}
      </h2>
      <p
        class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl lg:text-balance"
      >
        {servicesSection.title}
      </p>
      <p class="mt-6 text-lg/8 text-gray-600">
        {servicesSection.description}
      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <dl
        class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2"
      >
        {
          services.map((service, index) => (
            <div class="flex flex-col rounded-2xl p-8 ring-1 ring-gray-900/10">
              <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-gray-900">
                <span
                  class="h-5 w-5 text-gray-600 [&_svg]:h-full [&_svg]:w-full"
                  set:html={service.icon}
                />
                {service.title}
              </dt>
              <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-600">
                <p class="flex-auto">{service.summary}</p>
                <ul role="list" class="mt-6 space-y-2">
                  {service.points.map((point) => (
                    <li class="flex gap-x-3 items-baseline">
                      <span
                        class="h-4 w-4 [&_svg]:h-full [&_svg]:w-full [&_svg]:stroke-3"
                        set:html={tickIcon}
                      />
                      <span>{point}</span>
                    </li>
                  ))}
                </ul>
                <p class="mt-6">
                  <a
                    href={service.ctaHref}
                    class="text-sm/6 font-semibold text-gray-600 hover:text-gray-500"
                  >
                    {service.ctaLabel} <span aria-hidden="true">→</span>
                  </a>
                </p>
              </dd>
            </div>
          ))
        }
      </dl>
    </div>
  </div>
</section>
